if survey.clone_id
    input(type='hidden' name='survey[clone_id]' value=survey.clone_id)

.row.my-2
    .col
        label.control-label(for="survey_name") Name
        input.form-control#survey_name(type="text" placeholder="Name" name="survey[name]" value=survey.name required)
        div.invalid-feedback Please choose a valid name

.row.my-2
    .col
        label.control-label(for="survey_base_url") Convention
        select.form-select.select2#survey_base_url(
            data-placeholder='Convention'
            name='survey[base_url]'
            required=true
        )
            option
            each convention in conventions
                if checkPermission('staff', `https://${convention.domain}`)
                    option(value=`https://${convention.domain}` selected=survey.base_url===`https://${convention.domain}`)= convention.name

.row.my-2
    .col
        +markdownEditor('Description', 'survey_description', 'survey[description]', 3, 100, survey.description, true)

.row.my-2
    .col
        label.control-label.w-100.text-bg-light#css-heading(data-bs-toggle="collapse" data-bs-target="#css-container" aria-expanded="false" area-controls="css-container" style='cursor:pointer') Display Options
            i.expand-text-shown.ms-4 (click to hide)
            i.expand-text.ms-4 (click to show)
            span.float-end.ps-2
                i.bi.bi-chevron-up
                i.bi.bi-chevron-down

        #css-container.collapse(aria-labeledby="css-heading")
            .row.my-2
                .col-md-3
                    label.control-label(for="survey_css") Custom CSS
                .col
                    +cssEditor('survey_css', 'survey[css]', 10, 300, survey.css)
            .row.my-2
                .col-md-3
                    label.control-label(for="survey_brand_font") Logo/Brand Font
                .col
                    input.form-control#survey_brand_font(name="survey[brand_font]",placeholder='Anton' value=survey.brand_font)
                    span.form-text A font name from
                        a.mx-1(href='https://fonts.google.com' target="_blank") Google Fonts
                            i.fas.fa-external-link.ms-2
            .row.my-2
                .col-md-3
                    label.control-label(for="survey_header_font") Header Font
                .col
                    input.form-control#survey_header_font(name="survey[header_font]",placeholder='Montserrat' value=survey.header_font)
                    span.form-text A font name from
                        a.mx-1(href='https://fonts.google.com' target="_blank") Google Fonts
                            i.fas.fa-external-link.ms-2
            .row.my-2
                .col-md-3
                    label.control-label(for="survey_body_font") Body Font
                .col
                    input.form-control#survey_body_font(name="survey[body_font]",placeholder='Lato' value=survey.body_font)
                    span.form-text A font name from
                        a.mx-1(href='https://fonts.google.com' target="_blank") Google Fonts
                            i.fas.fa-external-link.ms-2

.row.my-2
    .col
        .form-check.form-switch
            input.form-check-input#survey_published(type="checkbox", name="survey[published]" checked=survey.published)
            label.form-check-label(for="survey_published") Publish Survey
if survey.id
    .row.my-2
        .col
            h4 Questions
                if !survey.published
                    a.btn.btn-sm.btn-outline-success.mx-2(href=`/question/new/${survey.id}`)
                        span.bi.bi-plus-lg.me-1
                        | New Question
            if survey.published
                .alert.text-bg-info
                    i.bi.bi-exclamation-triangle-fill.me-1
                    | Survey is published, unpublish to edit.

            .table-responsive
                .col-sm-6.offset-sm-3.text-center#tableLoading
                    .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                        .visually-hidden Table is Loading
                table.table.table-striped.data-table.table-hover.my-3.dt-responsive.nowrap.table-sm.w-100(
                    style="display: none"
                    data-orderable-object='question'
                    data-csrf=csrfToken
                    class=!survey.published?'table-orderable':''
                    )
                    thead
                        tr
                            th
                            if !survey.published
                                th.sort-handle
                                th Order
                            th(data-priority="1") Name
                            th Question
                            th Type
                            if !survey.published
                                th

                    tbody
                        for question in survey.questions
                            tr(class=!survey.published?'clickable-row':'', data-click-object='question' data-click-id=question.id)
                                td.dtr-control
                                if !survey.published
                                    td= question.id
                                    td= question.display_order
                                td= question.name
                                    if question.required
                                        .badge.text-bg-danger.mx-1 Required
                                    if question.team_member_only
                                        .badge.text-bg-info.mx-1 Team Member Only
                                td.text-truncate(style='max-width:200px')= question.question
                                td= question.type

                                if !survey.published
                                    td.text-end
                                        button.btn.btn-outline-danger.btn-xs.delete-btn.mx-2(
                                            role="button",
                                            url=`/question/${question.id}`,
                                            data-back=`/survey/${question.survey_id}/edit`
                                            data-bs-toggle='tooltip'
                                            title='Delete Question'
                                            disabled=survey.published
                                        )
                                            i.bi.bi-trash3-fill
.row.my-2
    .col
        button.btn.btn-primary.me-2(type="submit")
            i.bi.bi-save.me-1
            | #{survey.id?'Update':'Create'}

        if !survey.published && survey.id
            a.btn.btn-outline-primary.me-1(href=`/response/${survey.id}`)
                i.bi.bi-eye-fill.me-1
                | Preview Survey

        if survey.id

            a.btn.btn-secondary.me-1(href=`/survey/new?clone=${survey.id}`)
                i.bi.bi-copy.me-1
                | Clone Survey
            button.btn.btn-danger.me-1#deleteSurveyBtn(url=`/survey/${survey.id}` data-back=`/survey`)
                i.bi.bi-trash3-fill.me-1
                | Delete Survey

        a.btn.btn-link(href="/survey") Cancel
