extends ../layout

block content
    if (config.get('features.multisiteAdmin') && checkPermission('staff')) || checkPermission('none')
        a.btn.btn-outline-success.mb-2( href='/survey/new')
            span.bi.bi-plus-lg
            |  New Survey
    .row.my-2
        .col
            .list-group
                for survey in surveys
                    if !survey.noProfile && (survey.published || survey.created_by === activeUser.id || checkPermission('any', survey.base_url))
                        .list-group-item.p-3
                            .row
                                .col-xxl
                                    strong=survey.name
                                    small.ms-1
                                        | (
                                        a(target="_blank" href=survey.base_url)= survey.convention.name
                                        | )


                                    if survey.created_by === activeUser.id || checkPermission('any', survey.base_url)
                                        if survey.published
                                            .badge.text-bg-success.ms-1 Active
                                        else
                                            .badge.text-bg-warning.ms-1 Unpublished


                                .col-xxl.text-end
                                    if survey.created_by === activeUser.id || checkPermission('none') || (config.get('features.multisiteAdmin') && checkPermission('staff', survey.base_url))
                                        a.btn.btn-sm.btn-outline-dark.float-start.mt-3.mt-xxl-0(href=`/survey/${survey.id}/edit`)
                                            i.bi.bi-pencil-square.me-1
                                            | Edit
                                    .text-end
                                        if survey.responses.length
                                            a.btn.btn-sm.btn-outline-secondary.mx-2.position-relative.mt-3.mt-xxl-0(href=`/survey/${survey.id}/responses`)
                                                i.bi.bi-eye-fill.me-1
                                                | All Responses
                                                span.badge.rounded-pill.text-bg-primary.position-absolute.top-0.start-100.translate-middle=survey.responses.length
                                        if survey.published && survey.userEvents.length
                                            a.btn.btn-sm.btn-outline-secondary.mx-2.position-relative.mt-3.mt-xxl-0(href=`/survey/${survey.id}/feedback`)
                                                i.bi.bi-eye-fill.me-1
                                                | My Events' Responses
                                                span.badge.rounded-pill.text-bg-primary.position-absolute.top-0.start-100.translate-middle=_.flatten(_.pluck(survey.feedback, 'feedback')).length

                                        if survey.published || checkPermission('any', survey.base_url)
                                            a.btn.btn-sm.btn-primary.mx-1.position-relative.mt-3.mt-xxl-0(href=`/response/${survey.id}`)
                                                if !survey.published
                                                    i.bi.bi-eye-fill.me-1
                                                    | Preview

                                                else if survey.response
                                                    if survey.response.complete
                                                        i.bi.bi-check-circle.me-1
                                                        | View My Response
                                                        span.badge.rounded-circle.text-bg-success.position-absolute.top-0.start-100.translate-middle.p-2.border.border-light
                                                            span.visually-hidden Complete

                                                    else
                                                        i.bi.bi-pencil-square.me-1
                                                        | Continue My Response

                                                        span.badge.text-bg-warning.position-absolute.top-0.start-100.translate-middle.p-2.rounded-circle.border.border-light
                                                            span.visually-hidden In Progress



                                                else
                                                    i.bi.bi-pencil-square.me-1
                                                    | Answer


