extends ../layout

include ../partials/survey

block content
    form.form.needs-validation.my-3(method="POST" action="/response/"+response.id novalidate)
        input(type="hidden" name="_method"   value="PUT")
        input#csrf(type="hidden" name='_csrf' value=csrfToken)
        input#survey-id(type="hidden" name='response[survey_id]' value=survey.id)
        input#response-id(type="hidden" name='response[id]' value=response.id)
        input#base-url(type="hidden" name='survey[base_url]' value=survey.base_url)
        input#response-complete(type='hidden' value=''+response.complete name='complete')
        if response.complete
            .badge.text-bg-success
                i.fas.fa-check-circle.me-1
                | Completed
        if survey.description
            .row.my-2
                .col
                    .card
                        .card-body!=marked.parseInline(survey.description,  {breaks: true})

        .row.mt-2
            .col-md
                .form-check.form-switch
                    input.form-check-input#response-anonymous(
                        type="checkbox"
                        name='response[anonymous]'
                        checked=response.anonymous
                        disabled=response.complete
                    )
                    label.form-check-label(for="response-anonymous") Anonymous Response
            .col-md
                | Filling out survey as
                span.px-3.py-1.rounded.ms-2.text-bg-primary#survey-user
                    i.fas.fa-user.me-1
                    | #{activeUser.name}
                span.px-3.py-1.rounded.ms-2.text-bg-success#survey-user-anon(style='display:none')
                    i.fas.fa-user-secret.me-1
                    i Anonymous
        .row.mb-2
            .col
                .form-text If this an anonymous response, your name will not be displayed to convention staff.  You may still chose to share your name on comments you leave for GMs/event runners.
        for question in survey.questions
            .row.my-2
                .col
                    +questionDisplay(question)

        nav.navbar.sticky-bottom.bg-light.border-body.rounded.border.mx-lg-4
            .container-fluid.px-2.py-1
                .save-buttons
                    if survey.published
                        if !response.complete
                            button.btn.btn-secondary.me-2#survey-save(type="submit" name='response[action]' value='save' disabled=response.complete)
                                i.far.fa-save.me-1
                                | Save Progress
                            button.btn.btn-primary.mx-2#survey-submit(type="submit" name='response[action]' value='submit' disabled=response.complete)
                                i.fas.fa-envelope.me-1
                                | Submit Response
                        else
                            button.btn.btn-primary.me-2#survey-unsubmit(type="submit" name='response[action]' value='unsubmit' disabled=!response.complete)
                                i.fas.fa-envelope-open-text.me-1
                                | Reopen Response
                    else
                        button.btn.btn-secondary.me-2#survey-none(type="submit" name='response[action]' value='none' disabled=true)
                            i.far.fa-save.me-1
                            | Survey in Preview
                        a.btn.btn-secondary.me-2(href=`/survey/${survey.id}/edit`)
                            i.fas.fa-edit.fa-fw.me-1
                            | Edit Survey

                    a.btn.btn-link.mx-3(href="/")
                        i.far.fa-times-circle.me-1
                        | Cancel

    +surveyModal()
append scripts
    script(src='/javascripts/templates/feedback/modalEditForm.js')
    script(src='/javascripts/templates/feedback/modalNewForm.js')
    script(src='/javascripts/templates/survey/signupsList.js')
    script(src='/javascripts/validator.js')
    script(src='/javascripts/survey.js')

