doctype html
html(lang="en")
    include ./partials/layout/head

    body
        .background-content.d-flex.flex-column
            .container.bg-white.flex-grow-1
        .overall.d-flex.flex-column
            if (activeUser)
                nav.navbar.navbar-expand-md.d-block.fixed-top.navbar-dark.mb-4.intercon-menubar.bg-dark
                    include ./partials/layout/menu
            else
                include ./partials/layout/mini_menu
            .spacer(style="height: 70px")
            .container.bg-white.p-2.flex-grow-1(style= activeUser ? 'padding-top: 5.5rem;': '' )
                if breadcrumbs
                    if wideMain
                        .container-fluid
                            include ./partials/layout/breadcrumbs
                    else
                        .container
                            include ./partials/layout/breadcrumbs

                if (pageTitle)
                    .container(role="page_title")
                        if (typeof pageTitle === 'string')
                            h2=pageTitle
                        else
                            if (pageTitle.h1)
                                h1=pageTitle.h1
                            if (pageTitle.h2)
                                h2=pageTitle.h2
                            if (pageTitle.h3)
                                h3=pageTitle.h3
                            if (pageTitle.h4)
                                h4=pageTitle.h4

                include ./partials/layout/messages

                if wideMain
                    main.container-fluid(role="main")
                        block content
                else if fullHeightMain
                    main.container.h-10(role="main")
                        block content
                else
                    main.container(role="main")
                        block content

                include ./partials/layout/footer
