head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1 shrink-to-fit=no")
    meta(name="description",content="Survey system for intercode2-based conventions")
    meta(name="author",content="Dave Kapell")
    link(rel="icon",href="/images/neilSquare.png")
    title= title
    block styles
        link(rel = 'stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")

        -
            let fonts = [];
            if (survey && survey.body_font && survey.body_font !== ''){
                fonts.push(`${survey.body_font.replace(/\s+/, '+')}:400,400i,700,700i`);
            }
            if (survey && survey.header_font && survey.header_font !== ''){
                fonts.push(`${survey.header_font.replace(/\s+/, '+')}:400,700`);
            }
            if (survey && survey.brand_font && survey.brand_font !== ''){
                fonts.push(`${survey.brand_font.replace(/\s+/, '+')}:400,700`);
            }

        if fonts.length
            link(rel="stylesheet" href=`https://fonts.googleapis.com/css?family=${fonts.join('|')}`)

        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap")
        link(rel='stylesheet' href='https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css')
        link(rel='stylesheet' href='https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css')
        link(rel='stylesheet' href='https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.min.css')
        link(rel='stylesheet' href='https://cdn.datatables.net/rowreorder/1.4.1/css/rowReorder.dataTables.min.css')

        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css')
        link(rel="stylesheet" href='https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")

        link(rel='stylesheet' href='/stylesheets/style.css')
        if survey && survey.body_font && survey.body_font !== ''
            style.
                body, .popover {
                    font-family: #{survey.body_font}, sans-serif;
                }

        if survey && survey.header_font && survey.header_font !== ''
            style.
                .lead, h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5, .blockquote, .navbar{
                    font-family:  #{survey.header_font}, sans-serif;
                }
        if survey && survey.brand_font && survey.brand_font !== ''
            style.
                .navbar-brand{
                    font-family:  #{survey.brand_font}, sans-serif;
                }

        if survey && survey.css
            style= survey.css
        // link(rel='stylesheet' href=`/css`)
