extends ../layout

include ../partials/survey

block content
    form.form.needs-validation.my-3(method="POST" action="/surveys/"+survey.id novalidate)
        input(type="hidden", name="_method",  value="PUT")
        input(type="hidden", name='_csrf',value=csrfToken)

        for question in survey.questions
            .row.my-2
                .col
                    +questionDisplay(question)

        form-group
            button.btn.btn-secondary.mxr-3#survey-save(type="submit" value='save') Save Progress
            button.btn.btn-primary.mx-3#survey-submit(type="submit" value='submit') Submit Survey
            a.btn.btn-link.mx-3(href="/") Cancel

    .card
        .card-body
            pre=JSON.stringify(survey, null, 2)
    .card
        .card-body
            pre=JSON.stringify(response, null, 2)
    .card
        .card-body
            pre=JSON.stringify(userEvents, null, 2)
    .card
        .card-body
            pre=JSON.stringify(events, null, 2)
append scripts
    script(src='/javascripts/validator.js')
    script(src='/javascripts/requests.js')

